@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
		--background-gradient: radial-gradient(circle, #16282F 0%, #0F141B 100%);
		--background-100: #0F1317;
		--container-border: #30373D;
	}
}

@theme {
	--color-space: #0F1317;
}

body {
	color: var(--foreground);
	background: var(--background-gradient);
	/* background-color: var(--background-100); */
	font-family: Arial, Helvetica, sans-serif;
	height: 100vh;
	box-sizing: border-box;
}
