@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --background-gradient: radial-gradient(circle, #16282F 0%, #0F141B 100%);
    --background-100: #0F1317;
    --container-border: #30373D;
  }
}

body {
  color: var(--foreground);
  background: var(--background-gradient);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  box-sizing: border-box;
}
